* {
    margin: 0;
    padding: 0;
    border: 0;
}
p, .lead {
font-size: 1.5rem;
}
header {
padding: 25px 0;
height: 75vh;
}
.jumbotron {
display: flex;
align-items: center;
justify-content: center;
}
.img-wrap {
    position: relative;
    width: 50%;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
}
.img-wrap .content-overlay {
    /* min-width: 45%; */
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 99%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.img-wrap:hover .content-overlay{
    opacity: 1;
  }
#world-parent {
    /* width: 32%; */
    padding: 50px 25px;
    height: 100%;
}
.world {
    max-width: 100%;
}
.world:hover{

  transition: all 0.35s ease;
}
/* divider ------------ */
/* .img-wrap {
    position: relative;
} */
.hidden-text {
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 0 25px;    
  }
  .img-wrap:hover .hidden-text {
    top: 50%;
    left: 50%;
    opacity: 1;
  } 
#skillsxp {
    padding-top: 30px;
}
footer {
    padding-top: 75px;
    margin: auto;
    text-align: center;
}
footer > div > img {
    width: 40px;
    height: 40px;
}